.images-slider {
  position: relative;
  margin-left: -30px;
  margin-right: -30px;
  padding: 0 30px;
  animation: fadeIn .5s forwards;
  max-height: 203px;
  overflow: hidden;

  &__item {
    position: relative;
    padding-top: 66.55%;
  }

  &__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__prev,
  &__next {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    &:before {
      @include before-icon('../images/icons/arrow.svg', 11px, 8px);
    }
  }

  &__prev {
    left: 0;

    &:before {
      transform: rotate(-180deg);
    }
  }

  &__next {
    right: 0;
  }
  
  @media screen and (max-width: 1199px) {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 819px) {
    max-height: none;
  }
}
