$color-primary:     #e86953;
$color-secondary:   #555195;
$color-bg:          #ede7e1;
$color-dark:        #3d2b30;
$color-light:       #dac6b7;
$color-neutral:     #8c8c8c;

$color-danger:      #D41131;
$color-success:     #3FD411;
$color-warning:     #D8AE1C;